[Unit]
Description=Run requires_nas test
After=network.target

[Service]
WorkingDirectory=/home/aerotract/software/requires_nas/tests
User=aerotract
Restart=always
ExecStart=/usr/bin/python3 /home/aerotract/software/requires_nas/tests/test_requires_nas_loop.py

[Install]
WantedBy=multi-user.target